@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500);


.wrapper {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.title{
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.text{
    max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 164%;
  color: #727272;
}

/* ---------------------nav---------------------------------- */
.design__layout{
  background-color: #EEEFF1 ;
  padding: 79px 0 141px 0;
}
.nav {
  padding:0 0 162px 0;
}
.nav__menu {
  display: flex;
  flex: 0 1 50%;
  flex-wrap: wrap;
  list-style: none;
}
.nav__menu li{
  font-weight: 400;
  font-size: 16px;
  line-height: 164%;
  letter-spacing: 1.6px;
  color: #000000;
}
.nav__menu li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.nav__menu li:not(:last-child){
  margin: 0 45px 0 0;
}
.nav__menu li a {
  font-weight: 500;
  color: #34547A;
} 

/* ---------------------design---------------------------------- */

.design {
  background-color: #EEEFF1 ;
}
.design__body {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
}
.design__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 48px;
  line-height: 164%;
  color: #000000;
  margin-bottom: 60px;
}
.design__text {
  margin-bottom: 65px;
}
.design__button {
  align-self: flex-start;
  line-height: 65px;
  padding: 0 41px;
  background-color: #34547A;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

/* ---------------------about---------------------------------- */

.about {
  margin: 112px 0 100px 0;
}
.about__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__text {
  text-align: center;
}


/* ---------------------projects---------------------------------- */


.bgc__color{
  background-color: #34547A;
}
.projects__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 49px;
  padding: 100px 0;
}


/* ---------------------work---------------------------------- */


.work {
  padding: 100px 0 100px 0;
  background-color: #EEEFF1;
}
.work__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__text {
  text-align: center;
  margin-bottom: 57px;
}
.work__content {
  position: relative;
  /* background:url(/img/play-button.svg) 50% / 100px 100px no-repeat,url(/img/Rectangle-5.png) center / cover no-repeat; */
}
.work__video{
  max-width: 1100px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.work__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  z-index: 2;
}

.work__play-btn:hover{
  cursor: pointer;
}
/* ---------------------footer---------------------------------- */

.copyrights__body {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 0;
  padding: 50px 0;
  color: #FFFFFF;
}
.copyrights__title {
  font-weight: 500;
  font-size: 21px;
}
.copyrights__text {
  font-weight: 400;
  font-size: 13px;
}